.card_list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-xlarge);
  overflow-y: hidden;
  
}

.card-section {
  background: var(--card_background_color);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  white-space: normal;
  transition: all 0.3s ease;
  transform-origin: center;
  border-radius: 15px;
  overflow-y: hidden;
}

.card-section.active {
  position:absolute;
  transform: scale(1.47);
  z-index: 3;
  position: relative;
  margin: 2rem auto;
}

.card-section:not(.active) {
  opacity: 0.8;
  /* filter: blur(1px); */
}

.card-section:hover{
   opacity: 1;
  /* filter: blur(0px); */
}

.card_img_button{
  border: none;
  background: var(--card_background_color);
}

.card_title{
  text-align: center;
}

.img_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  overflow-y: hidden;
  height: 50px;
  background: var(--card_background_color);
}

.card_img{
  width:45px;
  aspect-ratio: 1/1;
  border-radius: 5px;
}


.card_start {
  display: inline-block; /* Для корректной работы transform */
  will-change: transform; /* Оптимизация анимации */
  transform: scale(1);
  transition: 
    transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    color 0.2s linear;
}

.card_start:hover {
  color: var(--main_background_color);
  transform: scale(1.5) translateZ(0); /* Активация аппаратного ускорения */
}