/* contacts.css */

.contacts {
  position: relative;
  background-color: var(--card_background_color);
  color: var(--header_section_color);
}

.contacts__container {
  margin: 0 auto;
}

.contacts__title {
  text-align: center;
  font-size: var(--font-size-medium);
  margin-bottom: 1rem;
  color: var(--header_section_color);
}

.constacts_img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.contacts_img_place {
  max-inline-size: 50%;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  /* gap: 10px; */
  inline-size: auto;
}

.contact-icon {
  width: 25px !important;
  height:25px !important;
  fill: var(--text-color);
  flex-shrink: 0;
}

.contact-text,
.contact-link {
  font-size: var(--font-size-base);
}

.contact-link {
  display: flex; /* Делаем ссылку flex-контейнером */
  align-items: center; /* Выравниваем содержимое по центру */
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Наследуем цвет текста */
  gap: 5px;
}

.contact-link:hover {
  color: var(--accent-color);
}

@media (width < 769px) {
  .contacts__title {
    margin: 0;
  }
  .contacts__info {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding: 0;
  }
  .contacts__social {
    padding: 0;
  }
  .social-links {
    grid-template-columns: repeat(2, 1fr);
  }
}