.dialog{
  display:none;
  inline-size: 1vw;
}

.dialog_is_opened{
  position: absolute;
  top:5vh;
  left: 5%;
  display: flex;
  flex-direction: column; 
  inline-size: 90vw;
  align-items: center;
   z-index: 4;
  max-inline-size: 100%;
 background: var(--card_background_color);
 padding: 50px 50px 0px 50px; 
  border-radius: 15px;
  border: 2px solid var(--card_background_color)
}

.dialog_container{
  padding: 50px 0px;
}

.dialog_button{
align-content: center;
align-items: center;
text-align: center;
outline: 1px solid black;
padding: 5px;
border-radius: 5px;
}

.dialog_close-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  border: none;
  font-size: 44px;
  cursor: pointer;
  color: #4b01f8;
  width: 50px;
  height: 50px;
}

.dialog_close-btn:hover {
  color: #000;
}

  .dialog_container{
    position: relative;
    inline-size: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

@media (width < 769px) {

  .dialog{
    display: none;
    position: relative;
  }
  .dialog_is_opened{
  position: absolute;
  top:30vh;
  left:0px;
  display: flex;
  flex-direction: column;
  inline-size: 100vw;
  padding: 2px;
  align-items: center;
  z-index: 4;
}

.dialog_container{
    position: relative;
    inline-size: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.dialog_close-btn {
  position: absolute;
  top: -10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 44px;
  cursor: pointer;
  color: #ffffff;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
}