
:root{
  font-size:10px;
    --min-viewport: 320px;
    --max-viewport: 1920px;

  --font-size-small: clamp(0.8rem, 1.5vw, 1rem);
  --font-size-base: clamp(1.2rem, 2vw,2rem);
  --font-size-medium: clamp(1.5rem, 2vw, 4.5rem);
  --font-size-large: clamp(2.5rem, 5vw, 10rem);
  --font-size-xlarge: clamp(5rem, 10vw, 20rem);
  --header-height: clamp(198px, 20vh, 800px);
  --header-font-size: clamp(3rem, 8vw, 16.5rem);
  --header-padding: clamp(1rem, 2vw, 10rem);
  
  --spacing-small: clamp(0.5rem, 1vw, 1rem);
  --spacing-medium: clamp(1rem, 2vw, 1.5rem);
  --spacing-large: clamp(1.5rem, 3vw, 2.5rem);
  --spacing-xlarge: clamp(2rem, 4vw, 3.5rem);
  
  --max-width: clamp(20rem, 90vw, 75rem);
  --max-width_contacts: clamp(20rem, 100vw, 100rem);
  --card-width: clamp(18rem, 30vw, 25rem);
  --card-height: clamp(25rem, 40vw, 30rem);

  --header_title__text-shadow_offset: clamp(1px,2px,3px);


  --card_background_color:rgba(120,120,120,1);
  --card_background_color_hover:rgba(140,140,140,1);

  --main_gap: clamp(1vh, 50%, 100vh);

  --header_section_color:#333333;
  --header_section_color_hover:rgba(120,120,120,0.8);
  --header-logo-stroke-color:none;
  --header-logo-fill-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "title", monospace;
  /* font-family: "header", monospace; */
  /* border: 1px solid rgb(4, 109, 22); */

}

html {
  font-size: clamp(14px, calc(14px + (18 - 14) * ((100vw - var(--min-viewport)) / (var(--max-viewport) - var(--min-viewport)))), 18px);
  background: var(--bg-color) ;
}

body {
  display: flex;
  flex-direction: column;
  gap:20px;
  min-inline-size: var(--min-viewport);
  max-inline-size: var(--max-viewport);
  margin: 0 auto;
  min-height: 100vh;
  font-size: var(--font-size-base);
  padding: 0; 
  color: var(--text-color);
  background-repeat: no-repeat;
  position: relative;
  background-image: repeating-linear-gradient(
      90deg,
      var(--gradient-color__stroke) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--gradient-color__stroke) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient( var(--gradient-color__lighting) 0,
      var(--gradient-color__lighting) 0.01%,
      var(--gradient-color__darking) 100%
    );
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

.main{
  display: flex;
  flex-direction: column;
  background-image: repeating-linear-gradient(
      90deg,
      var(--gradient-color__stroke) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--gradient-color__stroke) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient( var(--gradient-color__lighting) 0,
      var(--gradient-color__lighting) 0.01%,
      var(--gradient-color__darking) 100%
    );
  }