.header {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: 'title', serif;
  background-size: cover;
  height:auto;
}

.header_title {
  padding: 0px var(--header-padding);
  fill: var(--header_title__text-color);
  width: 70vw;
  text-align: right;
}

.logo {
  fill:var(--header-logo-fill-color);
  stroke: var(--header-logo-stroke-color);
  width: clamp(15vw,50vw,100vw);
  height: auto;
}

@media (width>769px) {
  .header_title {
    padding: 0px var(--header-padding);
    fill: var(--header_title__text-color);
    width: 60vw;
    text-align: right;
  }
}