/* Светлая тема */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #1f2233;
    --text-color: #f0f0f0;
    --header_section_color: rgb(214, 214, 214);
    --header_title__text-color: rgb(255, 251, 251);
    --header_title__text-shadow: rgb(179, 180, 182);

    --card_background_color: #000000;
    --card_background_color_hover: rgba(140, 140, 140, 1);

  --gradient-color__lighting: rgba(0, 127, 12, 1);
  --gradient-color__darking: rgba(0, 67, 6, 1);
  --gradient-color__stroke: rgba(0, 0, 0, 1);
  }
}

/* Темная тема */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1f2233;
    --text-color: #f0f0f0;
    --header_section_color: rgb(214, 214, 214);
    --header_title__text-color: rgb(255, 251, 251);
    --header_title__text-shadow: rgb(179, 180, 182);

    --card_background_color: #000000;
    --card_background_color_hover: rgba(140, 140, 140, 1);

  --gradient-color__lighting: rgba(0, 127, 12, 1);
  --gradient-color__darking: rgba(0, 67, 6, 1);
  --gradient-color__stroke: rgba(0, 0, 0, 1);
  }
}
